[submodule "vim/vim/bundle/vim-indent-guides"]
	path = vim/vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/autoclose"]
	path = vim/vim/bundle/autoclose
	url = git://github.com/vim-scripts/AutoClose.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
