Host *
    SendEnv LANG LC_*
    ServerAliveInterval 60

Host *+*
    ProxyCommand ssh $(echo %h | sed 's/+[^+]*$//;s/\([^+%%]*\)%%\([^+]*\)$/\2 -l \1/;s/:/ -p /') nc -w120 $(echo %h | sed 's/^.*+//;/:/!s/$/ %p/;s/:/ /')

Host atdot.ca
    IdentityFile ~/.ssh/nathanhowell_rsa
    ForwardAgent yes
    ControlMaster auto
    ControlPath /tmp/%r@%h:%p
    ControlPersist yes

Host *.predicative.com 66.209.184.* 10.5.4.* 10.4.4.* 33.33.33.42 33.33.33.50 ec2-* 192.168.33.* 192.168.3.*
    IdentityFile ~/.ssh/predicative_rsa
    ForwardAgent yes
    ControlMaster auto
    ControlPath /tmp/%r@%h:%p
    ControlPersist yes

Host *.mgmt.predicative.com 10.5.4.251 10.4.4.194
    SendEnv AWS_*
    SendEnv SL_*
    ForwardAgent yes
    ControlMaster auto
    ControlPath /tmp/%r@%h:%p
    ControlPersist yes

Host 192.168.88.* 192.168.12.* 10.7.4.* 10.6.3.*
    IdentityFile ~/.ssh/nathanhowell_rsa
    ForwardAgent yes
    ControlMaster auto
    ControlPath /tmp/%r@%h:%p
    ControlPersist yes

Host github.com
    IdentityFile ~/.ssh/github_rsa

Host bitbucket.org
    IdentityFile ~/.ssh/bitbucket_rsa
