snippet gjq
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
snippet tr
	<tr>
	  <td>${1}</td>${2}
	</tr>${3}
snippet td
	<td>${1}</td>${2}
snippet p
	<p>${1}</p>${2}
