snippet db
	debugger;
snippet cl
	console.log(${1});${2}
snippet iif
	if (${1:true})
	    ${2}
snippet ife
	if (${1:true}) {
	    ${2}
	} else {
	    ${3}
	};${4}
snippet iife
	if (${1:true})
	    ${2}
	else
	    ${3}
snippet t
	${1:/* condition */} ? ${2:a} : ${3:b}
snippet :f
	${1:method_name}: function(${2:attribute}) {
	    ${4}
	}${3:,}${5}
