KERNEL=="event3", SUBSYSTEM=="input", RUN+="keymap $name neh-thinkpad"
ATTRS{idVendor}=="1e54", ATTRS{idProduct}=="2030", RUN+="keymap $name neh-typematrix"
